/src/main/resources/dbpedia/Actor/
/src/main/resources/dbpedia/City/
/src/main/resources/dbpedia/Person/
/src/main/resources/dbpedia/anchors/
/src/main/resources/dbpedia/input/
/src/main/resources/dbpedia/rawFiles/
/src/main/resources/dbpedia/tables/
/src/main/resources/dbpedia/Actor/
/src/main/resources/dbpedia/City/
/src/main/resources/dbpedia/Person/
/src/main/resources/dbpedia/anchors/
/src/main/resources/dbpedia/Album
/src/main/resources/dbpedia/rawFiles/
/src/main/resources/dbpedia/tables/
/src/main/resources/dbpedia/Actor/
/src/main/resources/dbpedia/City/
/src/main/resources/dbpedia/Person/
/src/main/resources/dbpedia/anchors/
/src/main/resources/dbpedia/input/
/src/main/resources/dbpedia/Album/
/src/main/resources/dbpedia/Book/
/src/main/resources/dbpedia/Capital/
/src/main/resources/dbpedia/Color/
/src/main/resources/dbpedia/Colour/
/src/main/resources/dbpedia/Company/
/src/main/resources/dbpedia/Country/
/src/main/resources/dbpedia/Currency/
/src/main/resources/dbpedia/Film/
/src/main/resources/dbpedia/Instrument/
/src/main/resources/dbpedia/Location/
/src/main/resources/dbpedia/Mountain/
/src/main/resources/dbpedia/Organiation/
/src/main/resources/dbpedia/Person/
/src/main/resources/dbpedia/Place/
/src/main/resources/dbpedia/Politician/
/src/main/resources/dbpedia/River/
/src/main/resources/dbpedia/Singer/
/src/main/resources/dbpedia/TelevisionShow/
/src/main/resources/dbpedia/Writer/
/src/main/resources/dbpedia/state/  
/target/
